@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button{
    font-family: "Montserrat", sans-serif;\
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1
    text-decoration: none;
}

.logo{
    cursor: pointer;
    font-family: "Montserrat", sans-serif;\
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
     box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .2);
}

.nav__links{
    list-style: none;
    margin-bottom: 0;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

main{
    display: flex;
    margin-top: 10vh;
}

main span{
    color: #fff;
}

main .features {
    float: left;
    color: #fff;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

form {
    margin-left: 30%;
    width: 500px;
}

.wallet {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}