{% extends 'main/layout.html' %}

{% block title %}Активные кошельки{% endblock %}

{% block content %}
    <div>
        <span>Новости</span>
        <a href="{% url 'add_new_news' %}"><button type="button" class="btn btn-outline-warning">Добавить новость</button></a>
        {% for el in wallets %}
            <div class="wallet"> <!-- Добавляем класс на основе названия кошелька -->
                <h3>{{ el.title }}</h3>
                <p>{{ el.
                    }}</p>
                <p>{{ el.currency }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}